{% layout 'layout.liquid'%}
{% block content %}
<div class="container-md bg-white">
    <h1 class="display-2 fw-bold mx-auto mt-5 text-center mb-3">How to Play</h1>
    <div class="container-sm bg-success mx-1">
        <p class="text-white text-center mb-0 pt-2">Play proceeds clockwise. You will take turns performing one of the following actions.</p>
        <p class="text-white text-center">These actions may be performed in any order, but only one action may be taken per turn.</p>
        <p class="text-white fw-bold text-center mb-0 pb-2 fs-3">Place a Worker <span class="fw-light">or</span> Play a Card <span class="fw-light">or</span> Prepare for Season</p>
    </div>
    <h2 class="fs-1 fw-bold mx-auto text-center mt-4">Place a Worker</h2>
    <hr class="border border-success border-1">
    <p class="fw-semibold ms-4 pe-4">Your workers are necessary for the expansion and success of your city. You will be deploying them to various locations in Everdell in order to gather resources, draw more cards, host events, or perhaps to embark on a journey.</p>
    <p class="fw-semibold ms-4 pe-4">There are two types of locations: exclusive and shared (portrayed with an open encircling ring). Only 1 worker may visit an exclusive location. Multiple workers, even of the same color, may visit a shared location.</p>
    <div class="container-sm d-flex">
        <img class="mx-auto" style="display: block; max-width: 200px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/3656878f-4e75-4101-b729-d4fc128dcd98-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
        <img class="mx-auto" style="display: block; max-width: 200px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/c5747368-3a04-4358-b4dc-efe1649bc959-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
    </div>
    <p class="fw-semibold ms-4 pe-4">To visit a location, place one of your workers on any available <img class="mx-auto" style="display: inline; max-width: 25px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/63030736-923b-4eab-bbd6-7374951951b5-4579d050106fd71f52776c1a7e3de08d.png" alt="board setup image"> symbol and immediately take the listed resources or perform the action. That worker is then considered deployed to that location until you bring them back with the Prepare for Season action.</p>
    <div class="container-sm d-flex">
        <img class="ms-4 border border-success border-3" style="display: block; max-width: 200px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/484ac0e3-4075-4aa7-a746-9b803befc952-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
        <div class="container-sm d-flex align-items-center">
            <p class="fw-light ms-4 pe-4 fst-italic">Example: Placing a worker on this location lets you draw 2 cards from the deck and gain 1 point token.</p>
        </div>
    </div>
    
    <h2 class="fs-2 fw-bold mx-auto text-center mt-2">Locations to Visit Include</h2>
    <hr class="border border-success border-1">
    <h2 class="fs-4 fw-bold ms-4 mt-2">Basic Locations</h2>
    <hr class="border border-success border-1">
    <img class="mx-auto border border-success border-3" style="display: block; max-width: 650px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/076d3727-af9b-48a4-982a-8ede7be35a4e-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
    <h2 class="fs-4 fw-bold ms-4 mt-3">Forest Locations</h2>
    <hr class="border border-success border-1">
    <div class="container-sm d-flex">
        <div class="container-sm p-0">
            <p class="fw-semibold pe-2">These are varied and generally more powerful locations that you can visit. In a two or three-player game, there is room for only 1 worker on each Forest location. The location spots with the <img style="display: inline; max-width: 25px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/0f8c5d61-6663-47b9-b923-f8303d5015bc-4579d050106fd71f52776c1a7e3de08d.png" alt="4 worker"> symbol are only available in a four-player game. However, you may not place 2 of your own workers on a single Forest location.</p>
        </div>
        <img class="" style="display: block; max-width: 180px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/f3315e44-2339-4b0f-b842-8cc29e61b7b4-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
    </div>
    <h2 class="fs-4 fw-bold ms-4 mt-2">Destination Cards</h2>
    <hr class="border border-success border-1">
    <div class="container-sm d-flex">
        <img class="ms-4 mb-2" style="display: block; max-width: 150px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/6d87575e-8288-4b21-b5ee-4b85425b865f-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
        <div class="container-sm d-flex align-items-center">
            <p class="fw-semibold ms-4 pe-4">You may place a worker on any Destination card in your city, or on a Destination card in another city that has an <img style="display: inline; max-width: 35px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/085c4a63-3654-4734-8c36-39759c3051c8-d41d8cd98f00b204e9800998ecf8427e.png" alt="open"> symbol, in which case the owner of the Destination gains 1 point token <span class="fw-bold">from the supply</span>.</p>
        </div>
    </div>
    <h2 class="fs-4 fw-bold ms-4 mt-2">Events</h2>
    <hr class="border border-success border-1">
    <p class="fw-semibold ms-4 pe-4">You may also place 1 of your workers on any remaining basic Event or special Event to achieve it. To achieve the Event, you must meet all the listed requirements on the Event, and must pay any required resources at the time you place your worker there. Only one player may achieve each Event. You have to be able to achieve the Event to place a worker on the Event. You get the worker back like normal next season.</p>
    <div class="container-sm d-flex">
        <div class="container-sm d-flex flex-column align-items-center">
            <img class="border border-success border-3 center-block" style="max-width: 200px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/753c4db5-d466-4ece-aaa8-27e8b8ca499b-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
            <p class="fw-light fst-italic text-center fs-7 mt-1">Grand Tour requires your city to contain 3 Destination cards.</p>
        </div>
        <div class="container-sm d-flex flex-column align-items-center">
            <img class="center-block" style="max-width: 150px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/5250be74-09c3-4c59-b6d7-f68b1f33b77c-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
            <p class="fw-light fst-italic text-center fs-7 mt-1">Pristine Chapel Ceiling requires your city to contain Woodcarver and Chapel.</p>
        </div>
    </div>
    <p class="fw-semibold ms-4 pe-4">Achieved Events should be placed beside your city for scoring at the end of the game. Note: You do not have to return your achieved Events if the required cards are later removed from your city.</p>
    <h2 class="fs-4 fw-bold ms-4 mt-2">Haven</h2>
    <hr class="border border-success border-1">
    <div class="container-sm d-flex">
        <div class="container-sm p-0">
            <p class="fw-semibold pe-2">The Haven location is a shared space. There is no limit to the amount of workers that may be placed on it, even of the same color. By going here, you may discard any number of cards from your hand, and gain 1 of any resource for every 2 cards you discard. Note: The discard pile is facedown.</p>
        </div>
        <img class="" style="display: block; max-width: 180px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/0059b301-2fef-4655-81f1-5aab798dd785-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
    </div>
    <h2 class="fs-4 fw-bold ms-4 mt-2">Journey</h2>
    <hr class="border border-success border-1">
    <div class="container-sm d-flex">
        <img class="mx-auto border border-success border-3" style="display: block; max-width: 350px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/702a5785-836c-4c03-8cbd-a507c1b6108b-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
        <div class="container-sm d-flex align-items-center">
            <p class="fw-semibold ms-4 pe-4">In autumn only, you may send a worker on a Journey. You must discard cards equal to the listed points of the Journey location you choose. The 5-point, 4-point, and 3-point locations are exclusive, and the 2-point location is shared. The deployed worker is worth the listed points at the end of the game. You may send more than one worker on a Journey.</p>
        </div>
    </div>
    <h2 class="fs-1 fw-bold mx-auto text-center mt-4">Play a Card</h2>
    <hr class="border border-success border-1">
    <div class="container-sm d-flex justify-content-center">
        <div class="container-sm p-0 d-flex flex-column justify-content-center">
            <p class="fw-semibold pe-2 ps-4">You may play <span class="fw-bold">one</span> card. To play a card, you must pay the listed requirements into the general supply. <span class="fw-bold">Cards may be played from either the Meadow cards or from your hand</span>.</p>
            <p class="fw-semibold pe-2 ps-4">You will be playing these cards in front of you to form your city. There are two types of cards in the game: <span class="fw-bold">Critters</span> and <span class="fw-bold">Constructions</span>. You may have multiple copies of any Common cards in your city, <span class="fw-bold">but you may only have one specific copy of any Unique card</span>.</p>
        </div>
        <div class="container-sm d-flex flex-column align-items-center">
            <h2 class="fs-4 fw-bold ms-4 mt-0">Critters</h2>
            <img class="center-block" style="display: block; max-width: 250px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/ceee1907-f9ec-42b3-9811-652f791d845c-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
        </div>
        
    </div>
    <div class="container-sm d-flex justify-content-center mt-4">
        <div class="container-sm d-flex flex-column align-items-center">
            <h2 class="fs-4 fw-bold ms-4 mt-0">Constructions</h2>
            <img class="center-block" style="display: block; max-width: 250px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/f5a64846-9c4c-4a40-af62-38f2255cbef3-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
        </div>
        <div class="container-sm p-0 d-flex flex-column justify-content-center">
            <p class="fw-semibold pe-4">You may pay the required cost in berries to play the Critter card, or if the Construction listed in the top left of the Critter card is already in your city, you may play the Critter card without paying the cost in berries.</p>
            <p class="fw-semibold pe-4">Important: When playing a Critter for free by using the related Construction, place an "Occupied" <img style="display: inline; max-width: 35px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/1012e941-3a40-41b1-905e-d536b9a0d4e4-d41d8cd98f00b204e9800998ecf8427e.png" alt="open"> token on the Construction. You may only do this once per Construction.</p>
            <img class="center-block" style="display: block; max-width: 300px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/19d6848e-4dec-4861-9bac-74acbe3f5ff4-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
            <p class="fw-light pe-4 fst-italic">Note: The occupied token is not removed from the Construction card if the free Critter is later removed from your city.</p>
        </div>
    </div>
    <h2 class="fs-4 fw-bold ms-4 mt-0">City</h2>
    <hr class="border border-success border-1">
    <div class="container-sm d-flex">
        <div class="container-sm p-0 d-flex flex-column justify-content-center">
            <p class="fw-semibold ps-4 mb-0">Your city has a maximum of 15 spaces to play cards into. Each card takes up 1 space. Recommended layout is 3 rows with 5 cards in each. Event cards do not count against this 15 card limit.</p>
        </div>
        <div class="container-sm d-flex flex-column align-items-center">
            <img class="center-block mt-2" style="display: block; max-width: 180px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/22416f6e-9511-4b78-a6de-ea7536452bd4-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
            <p class="fw-light fst-italic">Suggested City Layout</p>
        </div>
    </div>
    <h2 class="fs-4 fw-bold ms-4 mt-2">Card Types</h2>
    <hr class="border border-success border-1">
    <div class="container-sm d-flex flex-wrap">
        <div class="container-sm d-flex align-items-center">
            <img class="" style="display: block; max-width: 50px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/04858658-f3b8-4a4b-a721-df114ea71908-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
            <p class="fw-semibold ms-4 pe-4"><span class="fw-bold">Tan Traveler:</span> Activates once immediately when played. It never activates again.</p>
        </div>
        <div class="container-sm d-flex align-items-center mt-3">
            <img class="" style="display: block; max-width: 50px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/897bd8a9-4d9f-4314-bf73-893d8fe47f81-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
            <p class="fw-semibold ms-4 pe-4"><span class="fw-bold">Green Production:</span> Activates once immediately when played, and once during the Prepare for Season actions in spring and autumn.</p>
        </div>
        <div class="container-sm d-flex align-items-center mt-1">
            <img class="" style="display: block; max-width: 50px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/440a95e9-4134-49bd-9ccb-329b23bb2aa7-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
            <p class="fw-semibold ms-4 pe-4"><span class="fw-bold">Red Destination:</span> Activates when a worker is placed on it. Cards with the <img style="display: inline; max-width: 35px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/085c4a63-3654-4734-8c36-39759c3051c8-d41d8cd98f00b204e9800998ecf8427e.png" alt="open"> symbol may be visited by opponents.</p>
        </div>
        <div class="container-sm d-flex align-items-center mt-1">
            <img class="" style="display: block; max-width: 50px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/6b9556c1-27fd-4061-9d65-9a5dc4215e1a-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
            <p class="fw-semibold ms-4 pe-4"><span class="fw-bold">Blue Governance:</span> Grants you bonuses after playing certain card types, and offers different ways to play cards for a discount.</p>
        </div>
        <div class="container-sm d-flex align-items-center mt-3">
            <img class="" style="display: block; max-width: 50px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/a39f70cf-17d7-4b83-8aa2-4d75596bd9ea-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
            <p class="fw-semibold ms-4 pe-4"><span class="fw-bold">Purple Prosperity:</span> Worth the base points and the listed bonus points at the end of the game.</p>
        </div>
    </div>
    <h2 class="fs-4 fw-bold ms-4 mt-3">Drawing Cards</h2>
    <hr class="border border-success border-1">
    <p class="fw-semibold ms-4 pe-4">Always draw cards from the deck, unless specifically told to draw them from the Meadow cards.</p>
    <p class="fw-semibold ms-4 pe-4">There is a <span class="fw-bold">strict hand limit of 8 cards. You cannot ever have more than 8 cards in your hand.</span> If you get to draw cards, you can only draw up to 8, no more. If you are required to give cards to an opponent, you must choose an opponent who has room in their hand, if possible; give as many cards as possible, then discard any remaining.</p>
    <p class="fw-semibold ms-4 pe-4">If a Meadow card is <span class="fst-italic">played</span>, <span class="fw-bold">immediately replace it with a new card from teh draw pile.</span> If an ability allows players to <span class="fst-italic">draw</span> cards from the Meadow cards, <span class="fw-bold">draw all cards first then replenish.</span></p>
    <p class="fw-semibold ms-4 pe-4">If the deck ever runs out, shuffle the discard pile to form a new deck.</p>
    <h2 class="fs-4 fw-bold ms-4 mt-2">Timing</h2>
    <hr class="border border-success border-1">
    <p class="fw-semibold ms-4 pe-4">When a card is played, follow this sequence of actions, when applicable:</p>
    <p class="fw-semibold ms-4 ps-4">1. Use "card playing ability" (Dungeon, Judge, Innkeeper, etc).</p>
    <p class="fw-semibold ms-4 ps-4">2. Pay resources or use occupied token.</p>
    <p class="fw-semibold ms-4 ps-4">3. If the card comes from the Meadow, replenish the Meadow.</p>
    <p class="fw-semibold ms-4 ps-4">4. Place the newly played card in your city. (If the played card effect removes another card from your city, that card is removed immediately before the new card placement.)</p>
    <p class="fw-semibold ms-4 ps-4">5. Resolve newly played card effect.</p>
    <p class="fw-semibold ms-4 ps-4">6. Resolve triggered effects (Courthouse, Shopkeeper, etc).</p>
    <h2 class="fs-1 fw-bold mx-auto text-center mt-4">Prepare for Season</h2>
    <hr class="border border-success border-1">
    <p class="fw-semibold ms-4 pe-4">If you have placed all of your workers and you cannot play a card or do not wish to, then you must prepare for the next season. On your turn, bring back all of your deployed workers, then gain the listed bonuses for the next season, as shown atop the Ever Tree. After doing so, your turn is finished, and play continues with the next player.</p>
    <p class="fw-semibold ms-4 pe-4">Thematically the game begins in late winter and ends as the next winter approaches. Autumn is the last Prepare for Season action you may perform in the game</p>
    <p class="fw-bold ms-4 pe-4">Important: Players do not have to perform the Prepare for Season action at the same time.</p>
    <p class="fw-light ms-4 pe-4 fst-italic">Example: On your first turn, you place a worker on the 3 twig space and take the resources. On the following turn you place a worker on a Forest location to gain 1 twig, 1 resin, and 1 berry. On the next turn you play a Farm from your hand by paying the listed cost of 2 twigs and 1 resin; you immediately gain 1 berry from the Farm. On your next turn you play a Barge Toad from the Meadow by paying 2 berries, and then immediately gain 2 twigs from the Barge Toad because you have a Farm in your city.</p>
    <p class="fw-light ms-4 pe-4 fst-italic">On your next turn, you do not have enough resources to play any more cards, and all of your workers are deployed, so you prepare for the next season. You bring back your deployed workers, and then gain the bonus listed for spring: gaining one new worker from atop the Ever Tree, and activating all Green Production cards in your city, which are your Farm and Barge Toad, immediately gaining you a berry and 2 twigs.</p>
    <p class="fw-semibold ms-4 pe-4">When preparing for the next season, new workers from the Ever Tree join your growing city. Gain the corresponding worker(s) and activate the next season's listed bonus.</p>
    <div class="container-sm d-flex flex-wrap">
        <div class="container-sm d-flex align-items-center">
            <img class="" style="display: block; max-width: 100px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/ca738fc5-6896-4517-8307-71a0a6d51aa6-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
            <p class="fw-semibold ms-4 pe-4">In spring, you gain 1 new worker and <span class="fw-bold">activate all Green Production cards in your city</span> in any order you choose.</p>
        </div>
        <div class="container-sm d-flex align-items-center mt-2">
            <img class="" style="display: block; max-width: 100px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/dab0d07f-1530-43f5-827f-670d9c3040d0-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
            <p class="fw-semibold ms-4 pe-4">In summer, you gain 1 new worker. There is no Production in summer, but green cards still activate immediately if played during summer. Also, you may draw up to 2 Meadow cards when you prepare for summer.</p>
        </div>
        <div class="container-sm d-flex align-items-center mt-2">
            <img class="" style="display: block; max-width: 100px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/d5dcaf63-c2c8-4ff0-bb36-f56ef8096966-d41d8cd98f00b204e9800998ecf8427e.png">
            <p class="fw-semibold ms-4 pe-4">In autumn, you gain 2 workers and <span class="fw-bold">activate all green Production cards in your city.</span></p>
        </div>
    </div>
    <h2 class="fs-1 fw-bold mx-auto text-center mt-4">End Game</h2>
    <hr class="border border-success border-1">
    <p class="fw-semibold ms-4 pe-4">When you have reached the end of autumn and cannot perform any more actions (or do not wish to), you have finished the game and must pass. If a player has passed, they cannot be given any cards or resources. If cards or resources have to be given to a player and all other players have passed, discard instead.</p>
    <p class="fw-semibold ms-4 pe-4">Any unfinished players continue playing until all players have passed. Then add up all points to determine the winner.</p>
    <p class="fw-semibold ms-4 pe-4">You may find it easiest to add up the base value of each card, then come back and add up point tokens, Purple Prosperity card bonuses, Journey points, and Events.</p>
    <p class="fw-semibold ms-4 pe-4">If there is a tie, the player who achieved the most Events wins. If there is still a tie, the player with the most leftover resources is the winner.</p>
    <h2 class="fs-4 fw-bold ms-4 mt-2">Scoring Example</h2>
    <hr class="border border-success border-1">
    <img class="mx-auto pe-4" style="display: block; max-width: 650px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/ce1c60d3-d3c4-43aa-92ba-28502a1faceb-d41d8cd98f00b204e9800998ecf8427e.jpg" alt="board setup image">
    <img class="mx-auto pe-4" style="display: block; max-width: 650px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/b636d119-d6e1-4f1d-8272-7da11f370d07-d41d8cd98f00b204e9800998ecf8427e.jpg" alt="board setup image">
    <p class="fw-semibold ms-4 ps-4 mt-2 mb-0"><span class="fw-bold">Base points for cards:</span> 22</p>
    <p class="fw-semibold ms-4 ps-4 mt-1 mb-0"><span class="fw-bold">Point tokens:</span> 14</p>
    <p class="fw-semibold ms-4 ps-4 mt-1 mb-0"><span class="fw-bold">Prosperity card bonus points:</span> 10 (3 for Wife, 2 for Architect, 5 for King)</p>
    <p class="fw-semibold ms-4 ps-4 mt-1 mb-0"><span class="fw-bold">Journey points:</span> 4</p>
    <p class="fw-semibold ms-4 ps-4 mt-1 mb-0"><span class="fw-bold">Events:</span> 12 (6 for Performer in Residence, 3 for Ministering to Miscreants, 3 for Grand Tour) </p>
    <p class="fw-semibold ms-4 ps-4 mt-2 mb-4"><span class="fw-bold">Total:</span> 62</p>
    <div class="d-grid gap-2 mb-2">
        <a href="gameInfo/howtoplay" class="btn btn-success fw-semibold" role="button">How to Play</a>
        <a href="setup" class="btn btn-success mb-2 fw-semibold" role="button">Setup</a>
    </div>
</div>
{% endblock %}