{% layout 'layout.liquid'%}
{% block content %}
<div class="container-md bg-white shadow">
    <h1 class="display-2 fw-bold mx-auto mt-5 text-center mb-2">Setup</h1>
    <hr class="border border-success border-1">
    <img class="mx-auto mb-2" style="display: block; max-width: 400px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/1f46cf80-bc5d-4f14-9519-463985ccf691-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
    <p class="lh fw-semibold ms-4 pe-4"><span class="fw-bold fs-3">1.</span> Place the board on the table. Place the Ever Tree on the stump at the top of the board.</p>
    <p class="fw-semibold ms-4 pe-4"><span class="fw-bold fs-3">2.</span> Place the twigs, resin, pebbles, and berries in piles along the bank of the river. Place the point tokens and occupied tokens beside the board.</p>
    <p class="fw-semibold ms-4 pe-4"><span class="fw-bold fs-3">3.</span> Shuffle the Forest cards and place them on the forest clearings. Use 3 cards for two players, or 4 cards for three or four players. Put the remaining cards back in the box.</p>
    <p class="fw-semibold ms-4 pe-4"><span class="fw-bold fs-3">4.</span> Place the 4 basic Event tiles along the river, then shuffle the special Event cards and place 4 special Events on the lower branches of the Ever Tree. Put the rmaining special Events back in the box.</p>
    <p class="fw-semibold ms-4 pe-4"><span class="fw-bold fs-3">5.</span> Shuffle the main deck and randomly place 8 cards faceup in the Meadow. Place the deck inside the Ever Tree.</p>
    <div class="container-sm d-flex">
        <div class="container-sm p-0">
            <p class="fw-semibold ms-2 pe-4 ps-1 mb-0"><span class="fw-bold fs-3">6.</span> Each player chooses a color and starts with 2 workers of that color. The first player will draw 5 cards from the deck, the second player 6 cards, the third player 7 cards, and the fourth player 8 cards.</p>
        </div>
        <img class="" style="display: block; max-width: 180px;" src="https://assets.dized.app/project/58c15c2a-f6b6-4f78-96db-b51a1080f665/en-US/eb51938ff9a3aaa135a6ae051260d1ab/5ba3232e-2924-4718-a03d-d35a604fb6e9-d41d8cd98f00b204e9800998ecf8427e.png" alt="board setup image">
    </div>
    
    <p class="fw-semibold ms-4 pe-4 mb-0"><span class="fw-bold fs-3">7.</span> Each player places their 4 other workers on the upper branches of the Ever Tree: 1 worker on spring, 1 on summer, and 2 on autumn.</p>
    <p class="fw-semibold ms-4 pe-4">The most humble player goes first.</p>
    <div class="d-grid gap-2 mb-2">
        <a href="howtoplay" class="btn btn-success fw-semibold" role="button">How to Play</a>
        <a href="/" class="btn btn-success mb-2 fw-semibold" role="button">Home</a>
    </div>
</div>
{% endblock %}