{% layout "layout.liquid" %}
{% block content %}
    <div class="container-md bg-white">
        <h1 class="display-1 fw-bold mx-auto mt-5 text-center mb-0">Everdell Wiki
            <h6 class="text-center text-muted h5">Welcome to the unofficial Everdell board game wiki!</h6>
        </h1>
        <img class="mx-auto" style="display: block; max-width: 400px;" src="https://cdn.shopify.com/s/files/1/0559/8245/6947/products/STG2654EN-EverdellStandardEdition2ndEdition_1_27bcc6d6-bc31-4d16-9d75-20cd463e13e4_500x.png?v=1655492664" alt="">
        <p class="text-center lh-lg fw-semibold">Everdell is a streamlined worker placement game that features a detailed world realized through stunning artwork. Utilizing a tableau-building mechanic, players will work to build a city of critters and constructions. Everdell is easy to learn, yet offers satisfying strategic depth and endless replayability.</p>
        <div class="d-grid gap-2">
            <button class="btn btn-success fw-semibold">Setup</button>
            <button class="btn btn-success fw-semibold">How to Play</button>
        </div>
        <p class="text-center text-muted mt-2 fst-italic">Everdell is published by Starling Games</p>
    </div>

{% endblock %}