{% block content %}
<nav class="navbar navbar-expand-md bg-success">
    <div class="container-fluid">
        <a href="/" class="navbar-brand text-light fw-bold">Everdell-Wiki</a>
        {% if loggedIn %}
        <a href="/cards/mine" class="nav-link text-light me-3">Hello {{ username }} </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if loggedIn %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cards
                    </a>
                    <ul class="dropdown-menu bg-success">
                        <li><a href="/cards" class="dropdown-item text-light">All Cards</a></li>
                        <li><a href="/cards/critters" class="dropdown-item text-light">Critters</a></li>
                        <li><a href="/cards/constructions" class="dropdown-item text-light">Constructions</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/events" class="nav-link text-light me-3">Events</a>
                </li>
                <li class="nav-item">
                    <a href="/cards/new" class="nav-link text-light me-3">New</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/logout" class="nav-link text-light me-3">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/auth/signup" class="nav-link text-light me-3">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/login" class="nav-link text-light">Sign In</a>
                </li>
                {% endif %}
            </ul>
                
            
        </div>
    </div>
</nav>
{% endblock %}