{% block content %}
<nav class="navbar navbar-expand-md bg-success">
    <div class="container-fluid">
        <a href="/" class="navbar-brand text-light fw-bold">Everdell-Wiki</a>
        {% if loggedIn %}
        <a href="/cards/mine" class="nav-link text-light me-3">Hello {{ username }} </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if loggedIn %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cards
                    </a>
                    <ul class="dropdown-menu bg-success">
                        <li><a href="/cards" class="dropdown-item link-info text-light">All Cards</a></li>
                        <li><hr class="dropdown-divider border-white opacity-25"></li>
                        <li><a href="/cards/Critter" class="dropdown-item text-light link-info">Critter</a></li>
                        <li><a href="/cards/Construction" class="dropdown-item text-light link-info">Construction</a></li>
                        <li><hr class="dropdown-divider border-white opacity-25"></li>
                        <li><a href="/cards/Tan%20Traveler" class="dropdown-item text-light link-info">Tan Traveler</a></li>
                        <li><a href="/cards/Green%20Production" class="dropdown-item text-light link-info">Green Production</a></li>
                        <li><a href="/cards/Red%20Destination" class="dropdown-item text-light link-info">Red Destination</a></li>
                        <li><a href="/cards/Blue%20Governance" class="dropdown-item text-light link-info">Blue Governance</a></li>
                        <li><a href="/cards/Purple%20Prosperity" class="dropdown-item text-light link-info">Purple Prosperity</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/events" class="nav-link text-light me-3">Events</a>
                </li>
                <li class="nav-item">
                    <a href="/cards/new" class="nav-link text-light me-3">New</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/logout" class="nav-link text-light me-3">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/auth/signup" class="nav-link text-light me-3">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/login" class="nav-link text-light">Sign In</a>
                </li>
                {% endif %}
            </ul>
            {% comment %}
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                </div>
            {% endcomment %}
        </div>
    </div>
</nav>
{% endblock %}