body {
    background-color: #e7cb9c;
    /* font-family: 'Crimson Text', serif; */
}

.bg-success {
    /* background-color: #2f4727!important; */
    background-color: #3a5e2e!important;
}

.text-success {
    color: #3a5e2e!important;
}

.btn-success {
    background-color: #3a5e2e!important;
}

.border-success {
    border-color: #3a5e2e!important;
}

.link-success {
    color:#3a5e2e!important;
}

.link-info {
    color: #ffffff!important;
}

.link-info:hover {
    color:#ffffff!important;
    background-color: #2c391f;
}

.fs-7 {
    font-size: 0.90rem;
}

.text-yellow {
    color: #e5c22a;
}



.m-hr {
    margin: 4px;
}

.nav-link:hover {
    color: #e5c22a!important;
}

.brand {
    letter-spacing: 1px;
    text-shadow: 5px 5px 5px #2C391F;
}

.nav-link {
    text-shadow: 5px 5px 5px #2C391F;
}

.title {
    font-family: 'Crimson Text', serif;
    letter-spacing: 1px;
    /* text-shadow: 5px 5px 5px rgb(229, 194, 42, .5); */
    color: #000000;
}

.subtitle {
    font-family: 'Crimson Text', serif;
}
.brand:hover {
    color: #e5c22a!important;
}

.text-yellow:hover {
    color: #c87f26!important;
}