{% block content %}
    <div class="card mb-4 shadow border-0 rounded-0">
        <div class="card-body">
            <p>{{comm.note}}</p>
            <div class="d-flex justify-content-between">
                <small class="fw-bold d-flex align-items-end">Author: {{comm.author.username}}</small>
                {% if comm.author == userId %}
                    <form action="/comments/delete/{{ card.id }}/{{comm.id}}?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-danger" value="X">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}